/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
	font-size: 30px;
	color: black;
	display: flex;
	justify-content: center;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

.text-line-color {
	color: unset;
    text-decoration: unset;
}

.text-size {
	font-size: 1.2em;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.filters {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.filter__btn {
	font-family: "Syne";
	padding: 10px 20px;
	margin: 0 15px;
	border: 1px solid #1D6154;
	border-radius: 25px;
	color: #1D6154;
	background-color: white;
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	transition: all 0.5s ease;
}

.filter__btn--active {
	color: white;
	background-color: #1D6154;
}
  
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}

.login__form {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	width: 35%;
}
  
.login__form input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
  
.login__form label {
	margin: 3em 0 1em 0;
}
  
.login__form textarea {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
  
.login__form input[type=submit] {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: 2px solid #1D6154;
	margin: 3em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	transition: all 0.5s ease;
}

.emailPassword__error {
	margin-top: 25px;
}

.admin {
	display: none;
}

.admin__edition {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
    gap: 1%;
    align-items: center;
    height: 6vh;
}

.edit {
	display: none;
    justify-content: center;
    position: relative;
    left: 700px;
    bottom: 50px;
	cursor: pointer;
	width: 5vw;
	gap: 10px;
}

.modale__container {
	display: none;
	position: fixed;
	background-color:#0000004D;
	width: 100vw;
	max-width: 1140px;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.modale {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	background-color: white;
	width: 40vw;
	height: 80vh;
	border-radius: 5px;
	padding: 65px;
	position: relative;
}

.modale__2 {
	display: none;
	justify-content: space-around;
	flex-direction: column;
	background-color: white;
	width: 40vw;
	height: 80vh;
	border-radius: 5px;
	padding: 65px;
	position: relative;
}

.modale img {
	width: 91px;
	height: 105px;
	object-fit: cover;
}

.modale__photos {
	display: flex;
	flex-wrap: wrap;
	padding: 0px 25px 0px 25px;
	width: 36vw;
}

.modale__photos figure {
	width: 9vw;
    height: 17vh;
}

.modale__photos .fa-trash-can {
	display: flex;
    position: relative;
    background-color: black;
    color: white;
    width: 1.2em;
    height: 1.2em;
    top: 30px;
    left: 63px;
    justify-content: center;
    padding: 4px;
    font-size: 13px;
	cursor: pointer;
}

.modale__photos::after {
	display: flex;
	content: " ";
	border-top: 2px solid #B3B3B3;
	height: 1px;
	width: 100%;
	margin: 40px auto;
}

.modale .fa-xmark {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.modale__button {
	width: 18vw;
	display: flex;
	justify-content: center;
	font-family: "Syne";
    padding: 10px 20px;
    border: 1px solid #1D6154;
    border-radius: 25px;
    color: white;
    background-color: #1D6154;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

.modale__2 button {
	width: 18vw;
	display: flex;
	justify-content: center;
	font-family: "Syne";
    padding: 10px 20px;
	border: none;
    border-radius: 25px;
    color: white;
    background-color: #A7A7A7;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.5s ease;
}

.modale-projet-form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modale-projet-logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.form-group-photo{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
	margin-top: 30px;
	background-color: #E8F1F7;
	width: 30vw;
	height: 20vh;
	border-radius: 10px;
}
.form-group-photo i{
	color: #306685;
	font-size: 90px;
	font-weight: 100;
	margin: 20px;
	margin-top: -25px;
}
.form-group-photo input {
	display: none;
}

.form-group-photo img {
	display: none;
	height: 199px;
	width: 174px;
	object-fit: cover;
	position: absolute;
}

.absolute {
	position: absolute;
}

.form-group-photo label {
	font-family: 'work sans';
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 40px;
	background-color: #CBD6DC;
	color: #306685;
	border-radius: 50px;
	cursor: pointer;
	margin-top: -10px;
}
.form-group-photo::after {
	content: "jpg, png : 4mo max";
}

.form-group-title{
	display: flex;
	flex-direction: column;
	width: 33vw;
}
.form-group-title input{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-group-title label{
	margin: 3em 0 1em 0;
}

.form-group-id{
	display: flex;
	flex-direction: column;
	width: 33vw;
}
.form-group-id select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.form-group-id label{
	margin: 3em 0 1em 0;
}

.form-group-id::after {
	display: flex;
	content: " ";
	border-top: 2px solid #B3B3B3;
	height: 1px;
	width: 100%;
	margin: 40px auto;
}